body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
#Header{
    display:flex;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom:5%;
}
.header-part{
    width: 50%;
    padding-left:5%;
}
span{
    color: orange;
}
span:hover{
    color:black;
}
.link-color{
    font-size: 20px;
    padding:10px 40px;
    color: white;
    background-image: radial-gradient(red,orange);
    text-decoration: none;
    border-radius:10px;
}
.link-color:hover{
    cursor: pointer;
    color:black;
    background-image: radial-gradient(yellow,red);
}
h1 {
    font-size:50px;
}
.header-part img{
    width:100%;
    padding:50px;
    margin-right:0px;
}
.header-part p{
    text-align: justify;
}

#dream{
    display:flex;
    background-image: url(image/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
    background-color:cornsilk;
}
.dream-area{
    width:50%;
    padding-right:10%;
}
.dream-area img{
    width:100%;
    padding:50px;
    margin:20px;
}
.dream-area p{
    text-align: justify;
}


#experiences-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-color: cornsilk;
    padding:40px;
    background-position: left;
}
#experiences-area h1{
    font-size:55px;
    margin:30px;
}
#experiences-area h1:hover{
    cursor:context-menu;
    color:orange;
}
.experiences-area-part{
    display:flex;
}
.experiences-area-part h3{
    color:orange;
   font-size:20px;
}
.experiences-area-part div{
    box-shadow:5px 7px 40px #000;
    width:50%;
    height:300px;
    padding:20px 40px;
    margin:30px;
    border-left:solid 8px;
    border-image:linear-gradient(180deg,green,blue);
    border-image-slice:5;
}
.experiences-area-part p{
    text-align: justify;
}
.experiences-area-part h2{
    font-size:30px;
}
footer{
    background-color:gray;
    text-align:center;
    color:black;
    font-size:20px;
    padding:20px;
    font-style:italic;
}
footer:hover{
    color:lawngreen;
}